<h1>Convert <%= @selected_currency  %></h1>

<p>Go <a href="/"> back</a>.</p>

<ul>
<% @currencies.each do |k,v|%>
<li><a href="/<%=@selected_currency %>/<%= k %>">Convert 1 <%= @selected_currency%> to <%= k %>...</a></li>
<% end %>
</ul>
